.InputSection_container{
      display: flex;
      align-items: center;
      flex-direction: column;
}

.InputSection_container input, textarea{
      min-width: 400px;
      border: 1px solid gray;
      border-radius: 0.3em;
      padding: 1em;
      margin: 0.5em;
      font-size: 10pt;
}

.InputSection_container_btnWrapper {
      display: flex;
      flex-direction: row;
      margin-top: 0.5em;
}

.InputSection_container_btnWrapper button{
      background-color: #000;
      border: none;
      color: #fff;
      font-size: 10pt;
      border-radius: 0.3em;
      padding: 0.5em;
      cursor: pointer;
}